# Entornos virtuales
venv/
myenv/
.env


# Archivos de configuración
*.env
*.log

# Archivos de base de datos locales
*.sqlite3
db.sqlite3

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos del editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
